<h2>Payment</h2>



  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-image=""
    data-name="Payment"
    data-description="bShare"
    data-amount=@current_rental.cost>
  </script>
