    <h1>About Us</h1>
    <div class="otherPages">
    <p><strong>At bShare.com:</strong>


    Consumers can search and find bShare anywhere and sign-up for riding rewards.<br><br>

  <strong>Benefits:</strong> bShare enhances transportation options, reduces traffic congestion and helps boost the local economy!<br><br>



  The <%= link_to 'bShare.com website', root_path%> and platform is owned and managed by Gurdeep, Meena, Ricky, Winnie. All rights reserved.
</p>
</div>
<div class="burgerLinks ham">

<%= link_to 'Join Us', new_user_path %>

</div>
