<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bike Safety</title>
  </head>
  <body>
    <h1>Bike Safety</h1>

      <div class="bikesafety_container">
         <div class="bikesafety">
            <div class="bikesafety_question">Wear the right gear</div>
              <div class="bikesafety_answer_container">
                <div class="bikesafety_answer">Reduce your risk of head injury in the event of a bicycle crash – wear an approved helmet.</div>
          </div>
      </div>
  </div>

  <div class="bikesafety_container">
     <div class="bikesafety">
        <div class="bikesafety_question">Choose the right bicycle and equipment</div>
          <div class="bikesafety_answer_container">
            <div class="bikesafety_answer">It’s important to ensure your bicycle suits your abilities and is roadworthy before you ride.</div>
      </div>
  </div>
</div>

<div class="bikesafety_container">
   <div class="bikesafety">
      <div class="bikesafety_question">Ride safely</div>
        <div class="bikesafety_answer_container">
          <div class="bikesafety_answer">The quickest route may not be the safest. Before you set out, plan the route that provides the safest road conditions.</div>
    </div>
  </div>
</div>


<div class="bikesafety_container">
   <div class="bikesafety">
      <div class="bikesafety_question">Responsible riding on the road</div>
        <div class="bikesafety_answer_container">
          <div class="bikesafety_answer">It’s important that you don’t rush into cycling. Give yourself plenty of time to understand the road rules and gain riding experience before you ride in traffic.</div>
    </div>
  </div>
</div>

<div class="bikesafety_container">
   <div class="bikesafety">
      <div class="bikesafety_question">Maintain your bicycle</div>
        <div class="bikesafety_answer_container">
          <div class="bikesafety_answer">Keeping your bike in good condition will enhance your cycling experience and the longevity of your bike.</div>
    </div>
  </div>
</div>

<div class="bikesafety_container">
   <div class="bikesafety">
      <div class="bikesafety_question">Keep your bicycle secure</div>
        <div class="bikesafety_answer_container">
          <div class="bikesafety_answer">You should always keep your bicycle secure to avoid theft or damage.</div>
    </div>
  </div>
</div>

<div class="bikesafety_container">
   <div class="bikesafety">
      <div class="bikesafety_question">Avoiding and managing crashes</div>
        <div class="bikesafety_answer_container">
          <div class="bikesafety_answer">Practising safe cycling will help you respond correctly to hazardous situations.</div>
    </div>
  </div>
</div>


<div class="bikesafety_container">
   <div class="bikesafety">
      <div class="bikesafety_question">Road rules for bicycle riders</div>
        <div class="bikesafety_answer_container">
          <div class="bikesafety_answer">Bicycle riders have the same rights and responsibilities on the road as other road users.</div>
    </div>
  </div>
</div>
<div class="bikesafety_container">
   <div class="bikesafety">
      <div class="bikesafety_question">Penalties</div>
        <div class="bikesafety_answer_container">
          <div class="bikesafety_answer">Under NSW legislation, you can be penalised if you commit a traffic offence. There are specific road rules for bicycle riders that also carry fines.</div>
    </div>
  </div>
</div>
  </body>
</html>
