
<h1>Frequently Asked Questions</h1>

<aside>
<div class="faq_container">
   <div class="faq">
      <div class="faq_question">Who is bShare for?</div>
           <div class="faq_answer_container">
              <div class="faq_answer">bShare is for everyone! Locals and visitors alike will be able to hop on a bike and ride.
                Whether you are running an errand or heading to work, bShare will allow you to conveniently hop on a
                bicycle at one station and return the bicycle to any other station in the system.</div>
           </div>
    </div>
 </div>

</aside>
 <div class="faq_container">
    <div class="faq">
       <div class="faq_question">How were station location chosen?</div>
            <div class="faq_answer_container">
               <div class="faq_answer">Community-selected station locations connect Sydney neighbourhoods with an emphasis on museums,
                 libraries, schools, retail, employment, residential, and transit hubs. You can see all station locations
                 on the map.</div>
            </div>
     </div>
  </div>


  <div class="faq_container">
     <div class="faq">
        <div class="faq_question">How do i use bShare?</div>
             <div class="faq_answer_container">
                <div class="faq_answer">It’s easy! You can register yourself on the app and register yourself to bShare here.</div>
             </div>
      </div>
   </div>

   <div class="faq_container">
      <div class="faq">
         <div class="faq_question">What if there are no bikes at the station?</div>
              <div class="faq_answer_container">
                 <div class="faq_answer">You can also use the app or the website station map to locate an available bike. 
                   Both the website map and app provide real-time information about the number of available bikes and
                   docks at each station.</div>
              </div>
       </div>
    </div>

    <div class="faq_container">
       <div class="faq">
          <div class="faq_question">Safety</div>
               <div class="faq_answer_container">
                  <div class="faq_answer">When you are on the road its always safety first.
                  Helmet	 on! It keeps you safe.
</div>
               </div>
        </div>
     </div>

     <div class="faq_container">
        <div class="faq">
           <div class="faq_question">What if my bike get lost or stolen?</div>
                <div class="faq_answer_container">
                   <div class="faq_answer">Immediately call us at 131 444-BIKE. The Customer Service representative you speak with will ask you to
                   fill out a Theft Report form. In addition, you MUST call or visit the police precinct in which the theft
                   occurred within 24 hours and file a theft report. Your account may be charged for the cost of recovery or
                   replacement of the bike. Please note, you must contact bShare immediately.
     </div>
                </div>
         </div>
      </div>


      <div class="faq_container">
         <div class="faq">
            <div class="faq_question">What if I’m involved in a crash?</div>
                 <div class="faq_answer_container">
                    <div class="faq_answer">If anyone is injured, call 000 immediately. You should also call the police department in the jurisdiction
                      the crash took place and file a report with an officer. This will help assure all important information is documented.
                    Within 24 hours of the incident, you must notify us of the crash by calling Customer Service at 131 444-BIKE.
                    The bike remains your responsibility until it has been properly locked at a dock, or handed over to a bShare representative.
                    Otherwise, you must secure the bike until you are able to return it to bShare.
      </div>
                 </div>
          </div>
       </div>
