<h1>Bike Share App</h1>
<% if @current_user.nil? %>
  <h2>Ready to Go!!!!!</h2>
  <h2>Just Ride! Nothing holds you back</h2>
  <h3>When you're on the road, it's always safety first </h3>
  <h2>Please Sign-in to hire a bike!</h2>
<% elsif @current_user.present? %>
  <h2>Ready to Go!!!!!</h2>
  <p>Just Ride! Nothing holds you back</p>
  <p>When you're on the road, it's always safety first </p>
  <div><%= link_to 'Hire Bike', new_rental_path %></div>
  <div><%# link_to 'Profile', user_path %></div> <%# TODO: FIX THISSS. NOT WORKING %>
  <div><%= link_to 'Rental History', rentals_path %></div> <%# TODO: Fix this so users can only see their own rental history, not everyone else's %>
<% end %>
