<h1>Our Mission</h1>

<%= image_tag 'ElectricBike_150p.png'%>
<div class="otherPages">
  <p><strong>Our Mission</strong><br>

    We want to get people on bikes and keep them there. <br>
    We strive to foster bicycling in Stdney as a viable means of transportation, and as a means to address wealth and health disparities that exist in our communities. <br>
    We seek to empower individuals to take control of their transportation, health, and sense of community.<br><br>

    <strong>Our Vision</strong><br>

    We want to see multiple Bikes Together centers throughout the city of Sydney.<br>
     Each center will have its own unique focus but primarily will serve as an active hub for bicycle education, access to bike maintenance, and access to bicycles through our free/earned bike programs and retail sales. <br>
     We seek to engage each community we are active in, to sustain the location, and help fulfill our mission.<br>

</p>
</div>
