    <h1>Privacy Policy</h1>
    <div class="otherPages">
      <p>Summit bShare ("Summit bShare ", "Our", or "We") values your privacy.
        The purpose of this Privacy Policy is to disclose (i) the information that We may collect, (ii) the way We may use the information,
        and (iii) how We may disclose the information to others. This Privacy Policy is part of Our Website Terms of Use Agreement ("Agreement") and is incorporated into the Agreement.
         By visiting www.summitbShare.com ("Website") you accept and consent to this Privacy Policy. All capitalized terms used herein but not otherwise defined are defined in the Agreement.</p>
         <div class="push"></div>
    </div>
