<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What is bShare?</title>
  </head>
  <body>
    <div class="display">


      <h1>What is bShare?</h1>

      <p>Imagine a world where you can pick up and leave a bike at your convenience.<br><br>
      Enter bShare: a bShare service to fulfil urban short trips - anytime,
      to any legal parking destination - by combining innovation and today’s IoT (Internet of Things) technology.
      <br> <br> bShare is green,
      reduces congestion, and continually strives to improve the quality of city life.<br><br></p>
    </div>
  </body>
</html>
