
    <%= image_tag 'bike3.jpg'%>
    <div class="otherPages">
      <h1>What is bShare?</h1>

      <p>Imagine a world where you can pick up and leave a bike at your convenience.<br><br>
      Enter bShare: a bShare service to fulfil urban short trips - anytime,
      to any legal parking destination - by combining innovation and today’s IoT (Internet of Things) technology.
      <br> <br> bShare is green,
      reduces congestion, and continually strives to improve the quality of city life.<br><br></p>
    </div>
