// Style for Home page
$bg-lightyellow: #eee66e;
$main-drkyellow: #e1b300;
$main-medyellow: #f5d353;
$main-blue: #4b85ab;
$main-drkblue: #2a2e6e;
$main-orange: #d98200;
$drkblue01: #293b7d;
$drkblue02: #424b73;
$drkblue03: #2a2e6e;
$drkblue05: #364fa3;
$lightblue01: #4666b1;
$lightblue02: #8fc6ed;
$lightblue03: #c5e4f9;
$main-grey: #807d76;


$Abril-Fatface: 'Abril Fatface', cursive;
$Alice: 'Alice', serif;
$Berkshire-Swash: 'Berkshire Swash', cursive;
$Bree-Serif: 'Bree Serif', serif;
$Contrail-One: 'Contrail One', cursive;
$Fugaz-One: 'Fugaz One', cursive;
$Lobster: 'Lobster', cursive;
$Lobster-Two: 'Lobster Two', cursive;
$Satisfy: 'Satisfy', cursive;
$Shrikhand: 'Shrikhand', cursive;

@mixin stepText {
  font-family: $Abril-Fatface;
  font-size: 25px;
  color: $main-blue;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  z-index: 2;
  position: relative;
}

main {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  header {
    margin-top: -5em;
  }
  .slogan {
    margin-top: -1em;
  }
  .welcome {
    margin-top: -1em;
    font-size: 3em;
    color: $drkblue01;
  }
  .button {
    display: inline-block;
    margin: 0em 4em 2em 4em;
    padding: 1em;
    background-color: $main-drkyellow;
    border-radius: 5em;
    opacity: .7;
    transition: .2s;
    &:hover {
      opacity: 1;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  .steps {

    height: 990px; //need to fix for responsiveness
    .step01 {
      position: relative;
      top: 2em;
      left: -20em;
      z-index: 1;
      p {
        @include stepText;
        top: 20vh;
        left: -2vw;
      }
    }
    .step02 {
    position: relative;
    top: -5em;
    left: 0em;
    z-index: 1;
    p {
      @include stepText;
      top: 23vh;
    }
    }
    .step03 {
      position: relative;
      top: -60em;
      left: 20em;
      z-index: 1;
      p {
        @include stepText;
        top: 16vh;
      }
    }

  }
}
