// Place all the styles related to the Bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Color Palette #2378
$primary-darkblue: #182139;
$bg-lightyellow: #eee66e;
$main-drkyellow: #e1b300;
$main-medyellow: #f5d353;
$main-blue: #4b85ab;
$main-drkblue: #2a2e6e;
$main-orange: #d98200;
$drkblue01: #293b7d;
$drkblue02: #424b73;
$drkblue03: #2a2e6e;
$drkblue05: #364fa3;
$lightblue01: #4666b1;
$lightblue02: #8fc6ed;
$lightblue03: #c5e4f9;
$main-grey: #807d76;

$Abril-Fatface: 'Abril Fatface', cursive;
$Alice: 'Alice', serif;
$Berkshire-Swash: 'Berkshire Swash', cursive;
$Bree-Serif: 'Bree Serif', serif;
$Contrail-One: 'Contrail One', cursive;
$Fugaz-One: 'Fugaz One', cursive;
$Lobster: 'Lobster', cursive;
$Lobster-Two: 'Lobster Two', cursive;
$Satisfy: 'Satisfy', cursive;
$Shrikhand: 'Shrikhand', cursive;

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: $bg-lightyellow;
  font-size: 100%;
  font-family: $Contrail-One;
  height: 100%;
  overflow-x: hidden;
  .hidden {
    display: none;
  }
  a {
    color: $main-drkblue;
    text-decoration: none;
    &:hover {
      color: $drkblue02;
    }
  }

}

nav {
  margin: 0 auto;
  padding: 0;
  background-color: $main-drkyellow;
  height: 120px;
  z-index: 3;
    #logoOuter {
      background-color:$main-drkyellow;
      position: relative;
      box-shadow: 5px 10px 18px $main-grey;
      z-index: 1;
      #logoInner {
        background-color: $main-medyellow;
        position: absolute;
        z-index: 2;
        a {
          color: $main-blue;
          font-size: 5em;
          font-weight: 500;
          font-family: $Fugaz-One;
          text-decoration: none;
          position: relative;
          text-align: inherit;
          letter-spacing: 0;
          transition: all .5s ease-in-out;
          &:hover {
            color: $lightblue03;
          }
        }
      }
    }
    .navInner {
      background-color: $main-medyellow;
      position: relative;
      .barLinks {

        a {
          color: $main-blue;
          font-size: 20px;
          font-weight: 500;
          text-decoration: none;
          transition: all .5s;
          &:hover {
            color: $lightblue03;
          }

        .barLeft {
          display: inline-block;
        }
        .barRight {
          display: inline-block;
        }
      }
      }
    }
}

#bodywrapper {
  margin: 0 auto;
  padding: 0;
  vertical-align: baseline;

}


footer { //TODO: doesn't stick to bottom on rentals page.
  background-color: $bg-lightyellow;
  color: $main-drkblue;
  padding: 0;
  width: 100%;
  .footOuter {
    background-color: $main-drkyellow;
    width: inherit;
    height: 40vh;
    border-top-left-radius: 15em;
    border-top-right-radius: 15em;
    .footInner {
      background-color: $main-medyellow;
      height: 38vh;
      margin-left: 10px;
      margin-right: 10px;
      border-top-left-radius: 20em;
      border-top-right-radius: 20em;
      position: relative;
      top: 5%;

      .footerLinks {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding-top: 3em;
        height: inherit;
        .footerLinksLeft {
          padding-left: 15em;
          a{
          display: block;
          padding: 10px 0px;
          font-size: 15px;
        }
      }
        .footerLinksRight{
          padding-right: 15em;
          a {
            display: block;
            padding: 10px 0px;
            font-size: 15px;
          }
        }
    }
    .socialMedia {
      position: relative;
      top: -11vh;
      left: 3vw;
      p, a {
        padding-left: 10px;
      }
    }
    .copyright {
      position: relative;
      display: block;
      padding-top: 10px;
      text-align: justify;
      top: -16vh;
      left: 77vw;
      font-size: 12px;
      }
    }
  }
}

////////////// NOTICES & ERRORS ///////////////
#notice {
  color: $main-orange;
  font-size: 20px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

///////////// MEDIA QUERIES ///////////////////
$logoOuter-width: 520px;
/// Big Screen
@media (min-width: 900px){
  #logoOuter {
    width: $logoOuter-width;
    height: 240px;
    border-radius: 250px / 120px;
    top: -4em;
    left: 50vw; //lines left edge of eclipse
    margin-left: -($logoOuter-width / 2); //moving it left by half it's width so the left 50vw will work.
    #logoInner {
      width: 500px;
  	  height: 220px;
  	  border-radius: 250px / 120px;
      top: 0em;
      left: .5em;
      a {
        top: 1.5em;
        left: 1.5em;
      }
    }
  }
  .navInner {
    padding-top: 0em;
    margin-bottom: 1em;
    top: -15em;
    height: 6.5em;
    .barLinks {
      display: inline-block;
      padding: 8.5px;
      .barLeft {
        position: relative;
        top: 4.5em;
        left: 5vw;
        a {
          padding: 1em;
        }
      }
      .barRight {
        position: relative;
        top: 3.5em;
        left: 70vw;
        a {
          padding: 1em;
        }
      }
    }
    .burgerLinks {
      display: none;
      .ham {
        display: none;
      }
    }
}
}

// Medium Tablet
@media (max-width: 900px){
  #logoOuter {
    width: 520px;
    height: 240px;
    border-radius: 250px / 120px;
    top: -4em;
    left: 50vw; //lines left edge of eclipse
    margin-left: -260px; //moving it left by half it's width so the left 50vw will work.
    #logoInner {
      width: 500px;
  	  height: 220px;
  	  border-radius: 250px / 120px;
      top: 0em;
      left: .5em;
      a {
        font-size: 4em;
        top: 2em;
        left: 2em;
      }
    }
  }
  .navInner {
    padding-top: 0em;
    margin-bottom: 1em;
    top: -15em;
    height: 6.5em;
    .barLinks {
      display: inline-block;
      padding: 8.5px;
      .barLeft {
        position: relative;
        top: 4.5em;
        left: 1vh;
        a {
          padding: 1em;
        }
      }
      .barRight {
        position: relative;
        top: 3.5em;
        left: 95vh;
        a {
          padding: 1em;
        }
      }
    }
    .burgerLinks {
      display: none;
      .ham {
        display: none;
      }
    }
}
}

//Mobile Screen
@media (max-width: 480px){
  #logoOuter{
    width: 260px;
    height: 120px;
    border-radius: 118px / 65px;
    top: -4em;
    left: 50vw; //lines left edge of eclipse
    margin-left: -130px; //moving it left by half it's width so the left 50vw will work.
    #logoInner {
      width: 240px;
      height: 110px;
      border-radius: 118px / 57px;
      top: 0em;
      left: .5em;
      a {
        font-size: 2em;
        top: 2.5em;
        left: 2em;
      }
    }
  }
  .navInner{
    padding-top: 9em;
    margin-bottom: 1em;
    top: -12em;
    .barLinks {
      display: none;
    }
    .burgerLinks {
      display: block;
      .ham {
        display: none; //TODO: Make ham show on click jscript.
      }
    }
  }
}
