// Place all the styles related to the Bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Color Palette #2378
$primary-orange: #d98100;
$primary-yellow: #e1b200;
$primary-grey: #aba597;
$primary-blue: #4b85a8;
$primary-darkblue: #182139;
$bg-lightyellow: #eee66e;
$main-drkyellow: #e1b300;
$main-medyellow: #f5d353;

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

}

nav {
  margin: 0 auto;
  padding: 2em;
  background-color: $primary-blue;
  #logoOuter {
    background-color:$main-drkyellow;
    width: 260px;
	  height: 120px;
	  border-radius: 118px / 65px;
    position: relative;
    top: -4em;
    left: 6em;
    #logoInner {
      background-color: $main-medyellow;
      width: 240px;
      height: 110px;
      border-radius: 118px / 57px;
      position: absolute;
      top: 0em;
      left: .5em;
    }
  }
}

#bodywrapper {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background-color: $bg-lightyellow;
  text-align: center;
  vertical-align: baseline;
  main {
    display: inline-block;

  }
  aside {
    margin: 0 auto;
  }


}





footer {
  background-color: $primary-blue;
  color: white;
  padding: 2em;
}



// p, ol, ul, td
//
// pre
//
// h2, ul, li
//
// label
// #notice
// .field_with_errors
// #error_explanation
//
//
// a {
//   color: #000;
//
//   &:visited {
//     color: #666;
//   }
//
//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }
//
// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }
